/*
  SWITCH
*/

.switch {
  width: 200px;
  height: 150px;
  background: $gris-200;
  z-index: 0;
  margin: 0;
  padding: 0;
  @include prefixer(appearance, none);
  border: none;
  cursor: pointer;
  border-radius: 53px;
  @include transition(.3s ease);

  &:before {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 196px;
    height: 101px;
    background: $blanco;
    z-index: 1;
    border-radius: 52px;
  }

  &:after {
    content: '';
    height: 100px;
    width: 100px;
    border-radius: 52px;
    background: $blanco;
    position: absolute;
    z-index: 2;
    top: 2px;
    left: 2px;
    /*
    transition-duration: 300ms;
    */
    @include transition(.3s ease);
    box-shadow: 0 2px 5px #999999;
  }
}

.switchOn, .switchOn:before {
  background: $azul-100 !important;
  @include transition(.3s ease);
}

.switchOn:after {
  @include transition(.3s ease);
  left: 98px !important;
}


.form-group {
  margin: auto !important;
  padding: auto !important;
  margin-top: 18px !important;
  margin-bottom: 18px !important;

  label {
    margin-left: 8px;
    margin-bottom: 8px;
  }
}

input, select, textarea {
  width: 235px !important;
  height: 36px !important;
  /* #F2F2F2 */
  background-color: transparent !important;
  border: solid 2px $gris-200 !important;
  box-shadow: inset 0 0 0 rgba(0,0,0,.075) !important;
}

textarea {
  height: 72px !important;
}

input:focus, select:focus, textarea:focus {
  border-bottom: solid 2px $azul-100 !important;
}

.btn-danger {
  background-color: $azul-400;
  border: solid 1px $azul-400;

  &:hover {
    background-color: #1E2029;
    border: solid 1px #1E2029;
  }
}

.btn-primary {
  background-color: $azul-100;
  border: solid 1px $azul-100;

  &:hover {
    background-color: $azul-100;
    border: solid 1px $azul-100;
  }
}

.btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger {
  background-color: $gris-input-placeholder !important;
  border-color: $gris-background !important;
}